* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "space";
  src: url("./resources/FONTS/SpaceGrotesk-VariableFont_wght.ttf");
}
html {
  font-family: space, sans-serif;
  background-image: url("../resources/images/planet-moon-space-stars-4k-0c-1920x1080.jpg");
  background-position:top;
  background-repeat: no-repeat;
}
header {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.logo {
  width: 25%;
}
.search {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
nav {
  background-color: white;
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
}
nav li {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 10px;
  text-align: center;
}
li:hover {
  background-color: black;
  color: white;
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
}

.intro h1 {
  text-transform: uppercase;
  color: white;
  font-family: space, sans-serif;
  line-height: 1.2em;
  font-size: 8vw;
}

.stars {
  background-color: white;
  opacity: 0.8;
  box-sizing: border-box;
  border-radius: 7px;
  text-align: center;
  padding: 2%;
}
.stars p {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 2.5vw;
  text-transform: uppercase;
}

.starsb p {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  width: 48%;
  display: inline-block;
  margin: 2px;
}

#container1 {
  margin: 0 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  padding:7px;
}
#container2 {
  display: flex;
}
#container2 div{
  width:25%;
  text-align: center;
}
.planets img {
  width: 100%;
}
.planets h3 {
  color: white;
}
.titlep,
.textp{
  text-align: center;
  margin-bottom: 10px;
  color:white;
}
.textp {
  font-size: 22px;
}
footer {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width:815px) {
  .starsb p {
    width:100%;
  }
}
@media only screen and (max-width:529px) {
  .intro {
    display:block;
  }
}

